/* Con esto eliminamos los margenes que el
navegador agrega a nuestros elementos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: #4a465b;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 20px auto; /*20px arriba y abajo, y a los lados ponemos auto para que se centre el contenedor*/
    overflow: hidden; /*Para evitar errores con el float y los demas elementos que van afuera*/
}

header {
    background: #fff;
}

header nav {
    width: 100%;
}

header nav ul {
    width: 100%;
    overflow: hidden;
    list-style: none; /* Para quitarle los puntitos a la lista */
}

header nav ul li {
    float: left;
    /* display: inline-block; */
}

header nav ul li a {
    text-decoration: none; /* Esto es para quitar el renglon, para que no este subrayado  */
    display: inline-block;
    padding: 15px 20px;
    color: #000;
}

header nav ul li a:hover {
    background: #000;
    color: #fff;
}

.main {
    width: 70%; /*Esto es el ancho del espacio del contenedor*/
    background: #fff;
    float: left; /*Para tener un elemento al lado del otro (en este caso un contenedor al lado de otro)*/
}

.main .imagen {
    width: 100%;
}

.main .imagen img {
    /* Con esto la imagen abarca el 100% del espacio DEL CONTENEDOR */
    width: 100%;
    /* Para quitarle un pequeño margen que tenia */
    vertical-align: top;
}

.main .post {
    padding: 40px;
}

.main .post article h2 {
    margin-bottom: 20px; /*Margen de la parte de abajo*/
    color: #424242;
}

.main .post article p {
    margin-bottom: 15px; /*Margen de la parte de abajo*/
    line-height: 27px; /*Es como un espaciado entre los textos*/
}

aside {
    width: 30%;
    background: #161f26;
    padding: 20px;
    color: #fff;
    float: left;
}

aside .widget {
    margin-bottom: 20px;
}

aside .widget .titulo {
    color: #ff8000;
    border-bottom: 1px solid #ff8000;
    margin-bottom: 10px;
}

aside .widget ul {
    list-style: none;
}

aside .widget ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 0;
}

aside .widget ul li a {
    color: #fff;
    text-decoration: none;
}

aside .widget ul li a:hover {
    color: #8f8f8f;
}

aside .widget p {
    line-height: 27px;
}

footer {
    width: 70%;
    overflow: hidden; /*Para que el footer empieze en una nueva linea*/
    background: #000;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}


